<h2>Locations</h2>

{{#each model as |location|}}
    {{#link-to "documents.show.locations.show" location}}{{location.name}}{{/link-to}},
{{/each}}
<p>
    {{#link-to "documents.show.stages.show" defaultStage}}View By Stages{{/link-to}}
</p>
{{outlet}}
