<h2>
    {{model.title}}
</h2>

<div>
    {{#each-in groupedLineItems as |viewGroup lineItems|}}
        {{line-item-list lineItems=lineItems viewGroup=viewGroup document=model}}
    {{/each-in}}
</div>

{{outlet}}
