<h2>
    {{model.title}}
</h2>

<div>
    {{#each-in groupedLineItems as |location lineItems|}}
        <h3>{{location}}</h3>
        {{line-item-list lineItems=lineItems document=model}}
    {{/each-in}}
</div>

{{outlet}}
